* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}

body{
    background-color: rgb(238, 237, 237);
}

.container{
    margin: 5px;
    color: #222222;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sid_selector{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: fit-content;
    height: fit-content;
    z-index: 1;
    color: #FFFFFF;
    background-color: rgb(56, 56, 56, .7);
    padding: 5px;
}

#sid-input{
    width: 200px;
    height: 25px;
    font-size: 12pt;
    background-color: rgb(56, 56, 56, .7);
    color: #FFFFFF;
    text-align: center;
}

.showcase {
    width: 100%;
    height: 100%;
    align-self: center;
    box-shadow: 0 4px 8px rgb(43, 43, 43);
    display: flex;
}
.showcase_container{
    height: 100010vh;
    width: 95vw;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

/* tag styling */
.tag_container{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 90%;
    max-height: 27vh;
    overflow-y: scroll;
    overflow-x: scroll;
    box-shadow: 0 4px 8px rgb(43, 43, 43);
}

table, th, td {
    border: 1px solid rgb(53, 53, 53);
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th {
    background-color: rgb(53, 53, 53);
    color: #eee;
}
table tbody tr:hover{
    background-color: rgb(163, 163, 163);
    cursor: pointer;
}
table input{
    width: 90%;
    height: 100%;
    border: 1px solid rgb(53, 53, 53);
    margin-top: auto;
    padding: 5px;
    background-color: #eee;
    color: black;
    font-size: 12pt;
}

 #label {
    width: 35%;
} 
#color {
    width: 20px;
    height: 20px;
}
#color div{
    width: 13px;
    height: 13px;
    margin-left: auto;
    margin-right: auto;
}
#color input{
    width: 100px;
    height: 10px;
}

#icon:hover{
    cursor: pointer;
}
#icon{
    text-align: center;
    width: 20px;
    height: 20px;
}
#icon div:after{
    display: inline-block;
    content: "\00d7";
    font-size: 16pt;
    color: rgb(161, 0, 0);
}
#goto div:after {
    display: inline-block;
    content: "\2197";
    font-size: 16pt;
    color: rgb(0, 0, 161);
    text-align: center;
}
#goto{
    text-align: center;
    width: 20px;
    height: 20px;
}

/* Buttons */
.button_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;  
    height: 7vh;
}
.b_moveInDirection{background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;}
  
 button {
     margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5%;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
     background-color:transparent; 
    text-decoration: none;
    border: none;
    color: #eee;
    font-size: 16pt; 
    text-shadow: 1px 1px 2px #000;
    color: #f5f4f3;
    line-height:35px;
    
    /* background: #00b8ce;
    color: #fff;
    border: 0;
    padding: 8px;
    font-size: 18px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    min-width: 38px;
    box-sizing: border-box;
    display: inline-block; */
} 
button:hover{
     /* background-color: gray; */ 
    cursor: pointer;
     color: gray; 
}

.color_picker {
    /* color: red; */
    min-width: min-content;
    min-height: min-content;
}

.click-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    align-self: center;
    z-index: 1;
}

 /* .right-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 100%;
    right: -1650px !important;
    padding: 10px 10px 0px 10px;
    z-index: 5;
    background-color: #222;
    pointer-events: all;
    transform: translateX(100%);
    transition: transform .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}  */

.tool-bar{
	background: #033143;
    color: #fff;
    padding: 10px 10px 0 10px;
    top:50%;
    left:0;
}
.tool-bar::section{
	background:transparent;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #FFFFFF;
}

.container {
    margin: 15px;
    padding: 10px;
    height: 90vh;
    color: #222222;
}

.showcase{
    width: 100%;
    height: 100%;
    align-self: center;
    box-shadow: 0 4px 8px rgb(43, 43, 43);
}

.right-overlay{
    width: fit-content;
    height: fit-content;
    /* min-height: 50px; */
    max-height: 70%;
    min-width: 30%;
    max-width: 30%;
    background-color: rgb(56, 56, 56, .7);
    color: white;
    position: absolute;
    right: 25px;
    top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
}

.popup-overlay{
    width: fit-content;
    max-width: 45%;
    height: fit-content;
    position: absolute;
    display: flex;
    margin-left: 5%;
    margin-top: 10%;
    background-color: rgb(56, 56, 56, .7);
    color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
}

.popup-exit{
    color: rgb(255, 103, 103);
    margin-left: -37px;
    margin-top: -18px;
    width: 100%;
    align-self: flex-start;
    justify-self: flex-start;
}
.popup-exit:hover{
    cursor: pointer;
}

.popup-title{
    width: fit-content;
    max-width: 75%;
}

.popup-status{
    width: fit-content;
    font-style: italic;
    margin-left: 15px;
}

.choices {
    list-style: none;
    margin: 10px;
    width: 100%;
    display: flex;
    justify-items: flex-start;
    flex-wrap: wrap;
}
.choices li{
    width: 45%;
    margin: 5px;
}
.choices li label{
    margin-left: 5px;
}

#title {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-self: center;
    flex: 4;
    width: 70%;
    overflow-x: hidden;
}

#title:hover{
    cursor: pointer;
}

#arrow {
    width: 2%;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent; 
    border-right: 5px solid white; 
    height: 0;
    margin: 10px;
    margin-top: 15px;
}

.active{
    transform: rotate(-90deg);
}

#description{
    width: 100%;
    margin: 10px;
    display: none;
}

#goto{
    width: 25%;
    margin: 10px;
}

#goto:hover{
    cursor: pointer;
    background-color: rgba(34, 34, 34, 0.7);
}

.nearby-tags{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tag-info{
    width: 100%;
    border-bottom: 1px solid black;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag-info:hover{
    background-color: rgb(37, 37, 37);
}

/*diff*/
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
    background-color:rgb(51, 51, 51,.9);
    color: white;
}
/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 8px;
}
/* Full-width input fields */
.form-container input, .form-container input {
  width: 100%;
  padding: 7px;
  margin: 3px 0 10px 0;
  border: thick;
  background-color: #1A1A1A;
}
/* When the inputs get focus, do something */
.form-container input:focus, .form-container input:focus {
  outline: none;
}
/* Set a style for the submit/login button */
.button {
  background-color:#1a1a1a;
  border: none;
  color: white;
  padding: 1px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left:80px;
}
/* Add a red background color to the cancel button */
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}